\documentclass[12pt]{article}
\usepackage[margin=1in]{geometry}
\usepackage{booktabs}
\usepackage{array}
\usepackage[dvipsnames]{xcolor}
\usepackage{graphicx}
\usepackage{tabularx}

% ---------------- COLORS ----------------
\definecolor{propel_blue}{HTML}{1652df}
\definecolor{propel_teal}{HTML}{1eb9c2}

% ---------------- HEADER ----------------
\newcommand{\tutorSummaryHeader}{
    \noindent
    \begin{minipage}[t]{0.58\textwidth}
        \vspace{0pt}
        \raggedright
        \textbf{Payroll: PAY-{{ "%04d"|format(payroll_number) }}}\\
        \textbf{Date: {{ payroll_date }}}\\
        \vspace{1em}
        \textbf{Biweek:} {{ biweek }}
    \end{minipage}
    \hfill
    \begin{minipage}[t]{0.38\textwidth}
        \vspace{0pt}
        \raggedleft
        \includegraphics[width=0.9cm]{latex_templates/propeller.png}\\[0.5em]
        \textbf{\textcolor{propel_blue}{Propel Tutoring}}\\
        \textit{Edmonton, AB}
    \end{minipage}
    \vspace{3em}
}

% ---------------- FOOTER ----------------
\newcommand{\tutorSummaryFooter}{
    \vspace{2em}
    \begin{flushleft}
        {% if notes %}
        \textbf{Notes:}\\
        {{ notes }}
        {% endif %}
    \end{flushleft}
}

% ---------------- DOCUMENT ----------------
\begin{document}
\pagestyle{empty}

\tutorSummaryHeader

% ---------------- TUTORS TABLE ----------------
\noindent
\begin{tabularx}{\textwidth}{p{1cm} p{2cm} p{2.5cm} p{2cm} p{3cm} X}
    \multicolumn{6}{l}{\textcolor{propel_blue}{\textbf{Payroll Summary}}} \\
    \toprule
    \textbf{TID} & \textbf{Tutor} & \textbf{\# Sessions} & \textbf{\# Hours} & \textbf{\# Students} & \textbf{Total Earned (\$)} \\
    \midrule
    {% for tutor in tutors %}
    {{ tutor.tutor_id }} & {{ tutor.pref_name }} & {{ tutor.num_sessions }} & {{ tutor.num_hours|round(2) }} & {{ tutor.num_students }} & {{ tutor.total_earned|round(2) }} \\
    {% endfor %}
    \bottomrule
\end{tabularx}

\vspace{2em}

% ---------------- SUMMARY TABLE ----------------
\noindent
\begin{tabularx}{\textwidth}{X p{2.5cm} X p{3cm}}
    \multicolumn{4}{l}{\textcolor{propel_blue}{\textbf{Biweek Totals}}} \\
    \toprule
    \textbf{Total Sessions} & {{ tutors|sum(attribute='num_sessions') }} & \textbf{Total Hours} & {{ tutors|sum(attribute='num_hours')|round(2) }} \\
    \textbf{Total Students} & {{ tutors|sum(attribute='num_students') }} & \textbf{Total Amount Earned} & \textbf{\$ {{ tutors|sum(attribute='total_earned')|round(2) }}} \\
    \bottomrule
\end{tabularx}

\tutorSummaryFooter

\end{document}