@import "tailwindcss";
@layer theme, base, components, utilities;

@theme {
  /* Fonts */
  --font-body: var(--font-body);
  --font-heading: var(--font-heading);

  /* Brand Colors */
  --color-primary: #1eb9c2;
  --color-primary-hover: #67b4b8;
  --color-accent: #0b80ed;
  --color-accent-hover: #2578c6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

@layer base {
  body {
    font-family: var(--font-body);
    color: var(--color-text);
    background-color: var(--color-background);
  }

  h1, h2, h3, h4 {
    font-family: var(--font-heading);
  }

  h1 { font-size: var(--text-h1); }
  h2 { font-size: var(--text-h2); }
  p  { font-size: var(--text-body); }
}

@layer components {
  .nav-link {
    @apply font-heading text-primary p-2 transition-transform duration-200 hover:scale-110 hover:text-primary-hover;
  }
  .nav-icon {
    @apply text-primary hover:text-primary-hover;
  }
}

:root {
  /* Brand Colors */
  --color-primary: #1eb9c2;
  --color-primary-hover: #3d8589;
  --color-accent: #0b80ed;
  --color-accent-hover: #2578c6;
  --color-background: #ffffff;
  --color-text: #111827;

  /* Text Sizes */
  --text-body: 1rem;
  --text-small: 0.875rem;
  --text-h1: 2.25rem;
  --text-h2: 1.75rem;
}
